.main {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  filter: blur(8px);
  transform: scale(1.1);
  background-position: center;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
